*.node
Debug/
Release/
npm-debug.log
tmp
support/data/
.DS_Store
*/.DS_Store
*/*/.DS_Store
.vagrant/
vagrant_ansible_inventory_default

node_modules/good/node_modules/memwatch/build/
!node_modules/lodash/build/
!node_modules/**/*/lodash/build/
